<div class="page-header">
  <h1>Articles</h1>
</div>

<dl class="dl-horizontal">
 <dt><strong>Title:</strong></dt>
  <dd><%= @article.title %></dd>
 <dt><strong>Text:</strong></dt>
  <dd><%= @article.text %></dd>
  <dt><strong>Likes:</strong></dt>
  <dd><%= @article.votes_for.size %></dd>
  <dt><strong>Like actions:</strong></dt>
  <% if current_user.voted_up_on? @article %>
  
    <dd><button onclick="alert('hello');"><%= fa_icon "thumbs-down 4x" %></button></dd>
  <% else %>
    <dd><button onclick="alert('hello');"><%= fa_icon "thumbs-up 4x" %></button></dd>
  <% end %>
</dl>

<h4>Comments</h4>
<% @article.comments.each do  |comment| %>
  <%# render comment %>
  <%= render partial: 'comments/show', locals: {comment: comment} %>
<% end %>

<h4>Add a comment:</h4>
<%= render 'comments/form' %>
 
<%= link_to 'Edit', edit_article_path(@article), :class => 'btn btn-default' %>
<%= link_to 'Cancel', articles_path, :class => 'btn btn-default' %>
<%= link_to 'Delete', article_path(@article),
      method: :delete,
      data: { confirm: 'Are you sure?' }, :class => 'btn btn-default btn-danger' %>
